{{#if mythicSheetAppearance.displayBanner}}
<div class="mythic-sheet-banner" data-banner-style="{{mythicSheetAppearance.banner.style}}">
  <span class="mythic-sheet-banner-text">{{mythicSheetAppearance.banner.text}}</span>
</div>
{{/if}}
