<div class="{{cssClass}} mythic-character-sheet{{#if mythicSidebarCollapsed}} sidebar-collapsed{{/if}}" data-faction="{{mythicFactionIndex}}">
  <aside class="sheet-nav">
    <button class="sidebar-toggle action-btn" type="button" title="Toggle Sidebar Width">
      <i class="fas {{#if mythicSidebarCollapsed}}fa-angles-right{{else}}fa-angles-left{{/if}}"></i>
    </button>
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="main" title="Main">
        <i class="fas fa-user"></i>
        <span>Main</span>
      </a>
      <a class="item" data-tab="skills" title="Skills &amp; Educations">
        <i class="fas fa-list"></i>
        <span>Skills &amp; Educations</span>
      </a>
      <a class="item" data-tab="biography" title="Biography">
        <i class="fas fa-book-open"></i>
        <span>Biography</span>
      </a>
      <a class="item" data-tab="setup" title="Setup">
        <i class="fas fa-gear"></i>
        <span>Setup</span>
      </a>
    </nav>
  </aside>

  <section class="sheet-content">
    {{> "systems/Halo-Mythic-Foundry-Updated/templates/actor/parts/header.hbs"}}
    <div class="sheet-tab-scrollable">
      {{> "systems/Halo-Mythic-Foundry-Updated/templates/actor/parts/main-tab.hbs"}}
      {{> "systems/Halo-Mythic-Foundry-Updated/templates/actor/parts/skills-tab.hbs"}}
      {{> "systems/Halo-Mythic-Foundry-Updated/templates/actor/parts/biography-tab.hbs"}}
      {{> "systems/Halo-Mythic-Foundry-Updated/templates/actor/parts/setup-tab.hbs"}}
    </div>
  </section>
</div>
