<div class="ability-info-row ability-notes-row">
	<label for="gear-ammo-mod-description">Description</label>
	<textarea id="gear-ammo-mod-description" name="system.description" rows="12" {{#unless canEditFields}}disabled{{/unless}}>{{gear.description}}</textarea>
</div>
