<div class="special-rules-layout">

  <article class="gm-panel special-rules-list-panel">
    <h2>Special Rules</h2>

    <div class="special-rules-search-wrap">
      <input
        type="search"
        class="special-rules-search"
        data-special-rule-search
        placeholder="Search special rules..."
        autocomplete="off"
      />
    </div>

    <div class="special-rules-list"
            data-special-rule-list>
    </div>
  </article>


  <article class="gm-panel special-rules-detail-panel">
    <h2 data-special-rule-title>Placeholder Rule</h2>
    <div class="gm-source-ref core" data-special-rule-source>Ref: p.XX</div>

    <div class="special-rule-detail" data-special-rule-detail>
      Select a special rule from the list.
    </div>
  </article>

</div>