<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1>{{item.name}}</h1>
  </header>

  <section class="sheet-body">
    <p>Blank item sheet scaffold.</p>
    <p>Type: {{item.type}}</p>
  </section>
</form>
